.headerItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productImg {
    display: flex;
    justify-content: center;
}

.infoButton {
    border: 0;
    background-color: transparent;
    color: #0d6efd;
}

.fa-circle-question {
    color: rgb(255, 208, 0);
}

.error {
    color: orangered;
}

.alert{
    display:none;
  }

.fa-xmark {
    color: #0f5132;
}